body {
    background-color: slateblue;
    color: black;
}

#Welcome {
    margin: auto;
    text-align: center;
}

#Projects {
    width: 25%;
    background-color: white;
    color: black;
}

:visited{
    color: blue;
}
