body {
    background-color: rgb(137, 124, 224);
    color: black;
}

#Welcome {
    margin: auto;
    text-align: center;
}

#Projects {
    width: 25%;
    background-color: rgb(221, 211, 211);
    color: black;
}

:visited{
    color: blue;
}
